.jumbotron {
	width: 400px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.form-control {
	margin-bottom: 5px;
}

.checkbox-selecionada {
	background-color: #F3FFBD !important;
	font-weight: bold;
}