.jumbotron {
	width: 400px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.form-control {
	margin-bottom: 5px;
}

.checkbox-selecionada {
	background-color: #F3FFBD !important;
	font-weight: bold;
}

.ui-alert {
	color: #AF4341;
	background-color: #F2DEDE;
	padding: 20px;
	border-radius: 5px;
	margin: 20px 0;
}

.ui-alert-title {
	font-weight: bold;
	font-size: 18px;
}

.ui-alert-message {
	font-size: 14px;
}